<!DOCTYPE html>
{% load staticfiles %}<!-- Loading Static files, for example: photos-->
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<html lang = "en">

	
	<title>Homepage</title>

<head>
<link rel="stylesheet" type="text/css" href="../static/website.css">
	<p>
HOMEPAGE
</p>
<p>
	<a href="polls" class="btn btn-default">Sign up</a>
</p>
</head>

<body>

{% for filename in filenames %}
<img src="../static/images/{{filename}}" height = 300; width = 300/>
{% endfor %}




</body>
</html>