<!DOCTYPE html>
{% load staticfiles %}<!-- Loading Static files, for example: photos-->
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<html lang = "en">
<style>
h1{
	text-align: right;
	font-size: 250%;
}
h2{
    font-size: 250%;
}
p{
	text-align: right;
}
#filterDropdowns {
	text-align:center;
}

#range{
	text-align:center;
}
</style>
<html>
	<head>
		<title>CAM2 Earthquake</title>
		<h2>Welcome to CAM2 Earthquake</h2>
		{% if user.is_authenticated %}
		        <p>Welcome {{ request.user.username }}, you are logged in.......
		        	<a href="../" class="btn btn-default">Homepage</a>  <a href="../logout" class="btn btn-default">Log out</a>
		        </p>

		{% else %}
		<h1>	<a href="polls" class="btn btn-default">Sign up</a>
				<a href="login" class="btn btn-default">Log in</a>
		</h1>

		{% endif %}
		{% block content %}
		{% endblock %}
	</head>
</html>
