<!DOCTYPE html>
{% extends "filterHeader.html" %}
{% load staticfiles %}<!-- Loading Static files, for example: photos-->
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<html lang = "en"/>
<html>
	<body>
		{% block content %}
			<table style="width:100%">
				<tr>
					<th>Case ID</th>
					<th>{{camera.caseID}}</th>
				</tr>
				<tr>
					<td>Latitude</td>
					<td>{{camera.latitude}}</td>
				</tr>
				<tr>
					<td>Longitude</td>
					<td>{{camera.longitude}}</td>
				</tr>
				<tr>
					<td>Priority Index</td>
					<td>{{camera.priorityIndex}}</td>
				</tr>
				<tr>
					<td>Number of Floors</td>
					<td>{{camera.numFloors}}</td>
				</tr>
				<tr>
					<td>Floor Area (Meters Squared)</td>
					<td>{{camera.floorArea_m2}}</td>
				</tr>
				<tr>
					<td>Total Floor Area (Meters Squared)</td>
					<td>{{camera.totalFloorArea_m2}}</td>
				</tr>
			</table>
		{% endblock %}
	</body>
</html>

